<h1 class= "page_title">
  <%= link_to root_path, class: "title_text" do%>
  Mallory Furniture
  <% end%>
</h1>


<div class="jumbo">
  <div class="littlebox">
    <div class="page-header">
      <h1>Your furniture is old<h1>
      <div class="text-right"><small>Ours is older.</small></div>

    </div>
    <p>
      <%= link_to "Checkout our products", product_path, class: "checkout_products"%>
    </p>
  </div>



</div>
